<main class="main-container">
  <section class="main-left"></section>
  <section class="main-side">
    <section class="main-side-container">
      <section class="main-side-top"></section>
      <nav class="nav">
        <%= link_to "Companies", companies_path %>
        <%= link_to "Jobs", jobs_path %>
        <%= link_to "Categories", categories_path %>
        <%= link_to "Dashboard", dashboard_path %>
        <%= link_to "Tags", tags_path %>
      </nav>
      <section class="main-side-bottom">
        <table>
          <th>Company</th>
          <th>Average Job Interest</th>
        <% @top_companies.each do |company| %>
          <tr>
          <td><%= company.name %></td>
          <td><%= company.average_interest.round %></td>
          </tr>
        <% end %>
        </table>
        <table>
          <th>Interest Range</th>
          <th>Count of Jobs</th>
          <% @interests.each do |range, count| %>
          <tr>
            <td><%= range %></td>
            <td><%= count %></td>
          </tr>
          <% end %>
        </table>
        <table>
          <th>City</th>
          <th>Count of Jobs</th>
          <% @locations.each do |city, count| %>
          <tr>
            <td><%= link_to "#{city}", "/jobs?location=#{city}" %></td>
            <td><%= count %></td>
          </tr>
          <% end %>
        </table>
      </section>
    </section>
  </section>
</main>
