<main class="main-container">
  <section class="main-left"></section>
  <section class="main-side">
    <section class="main-side-container">
      <section class="main-side-top"></section>
      <section class="main-side-bottom">
        Title: <%= @job.title %>
        <br>

        Description: <%= @job.description %>
        <br>

        Level of Interest: <%= @job.level_of_interest %>
        <br>

        City: <%= @job.city %>
        <br>

        Company: <%= link_to @job.company.name, company_path(@job.company) %>
      </section>
    </section>
  </section>
</main>
